.easy_data_masking {
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  &_head {
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid rgb(222 222 222);
    .category {
      // line-height: 18px;
      // height: 22px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      border: 2px solid;
      cursor: pointer;
      .category_value {
        padding: 0px 2px 2px 2px;
      }
      .category_keypress {
        padding: 0px 2px 2px 2px;
        border-left: 2px solid;
      }
    }
  }
  &_body {
    line-height: 2;
    padding: 10px 10px 10px 7px;
    .masking {
      margin: 0px 3px;
      line-height: 1.3;
      border: 2px solid;
      box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);
      display: inline-block;
      position: relative;
      &:hover .masking_delete {
        display: block;
      }
      .masking_content {
        cursor: pointer;
        float: left;
        height: 20px;
        padding: 0px 2px 0px;
        overflow: hidden;
        &_top, &_bottom {
          text-align: center;
          width: 100%;
          height: 100%;
          line-height: 20px;
          transition: margin-top 0.3s;
        }
        &:hover .masking_content_top{
          margin-top: -20px;
        }
      }
      .masking_category {
        display: inline-block;
        height: 1.3rem;
        padding-left: 2px;
      }
      .masking_delete {
        font-size: 16px;
        color: #fff;
        top: -9px;
        left: -9px;
        position: absolute;
        text-align: center;
        display: none;
        border-radius: 50%;
        line-height: 1;
        padding: 0px;
        width: 16px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0.54);
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
